body.front
{
    h1#page-title
    {
        display: none;
    }
    
    #main-wrapper:after
    {
        display: none;
    }
    
    #content
    {
        .region-content
        {
            display: table;
            width: 100%;
        }
        .block
        {
            display:table-cell;
            width: 25%;
            
            & > div
            {
                padding: 10px;
            }
        }
        #block-block-12,
        #block-block-14
        {
            background:$blue;
        }
    }
}
