body
{
    background:white;
}

p
{
    margin-bottom:0.75em;
}
ul, ol
{
    margin-left:25px;
    margin-bottom:0.75em;
}

a
{
    color:$gold;
    text-decoration: none;

    &:hover
    {
        text-decoration: underline;
    }
}

#navigation,
#header,
#welcome,
#main-wrapper,
#footer
{
    & > div
    {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        & > div
        {
            padding: 0 20px;
        }
    }
}

#page-wrapper
{
    overflow: hidden;
}

#navigation
{
    background-color:$navy;
    height: 50px;
    box-shadow:0 2px 4px rgba(0,0,0, 0.4);
    position: relative;
    z-index: 10;

    #logo
    {
        display: block;
        float: left;
        padding:10px 32px 13px 10px;
        border-right: 1px dotted $gold;
        position: relative;
        z-index:1;
        
        &:hover
        {
            background:$blue;
            border-top: 2px solid $gold;
            padding-top: 8px;
        }

        img
        {
            display: block;
            height: 27px;
            width: auto;
        }
    }

    #block-system-main-menu .content
    {
        @extend .font-condensed;
        text-transform: uppercase;
        position: relative;
        z-index:1;

        & > ul
        {
            list-style: none;
            margin:0;
            padding: 0;

            & > li
            {
                list-style: none;
                margin: 0;
                padding: 0;
                float: left;

                & > a
                {
                    color:white;
                    text-decoration: none;
                    display: block;
                    padding: 17px 13px;
                    border-right:1px dotted $gold;
                    line-height: 100%;
                    font-size:16px;

                    &:hover
                    {
                        text-decoration: none;
                        background:$blue;
                        border-top:2px solid $gold;
                        padding-top: 15px;
                        box-shadow:0 0 6px rgba(0,0,0,0.2) inset;
                    }
                }
            }
        }
    }
}

#footer
{
    clear:both;
    border-top:2px solid $gold;
    background:white;
    padding-top: 25px;
    padding-bottom: 30px;
    color:$navy;
    text-align: center;

    & > div > div > div
    {
        position: relative;
        padding-right: 160px;
    }

    a
    {
        color:$navy;
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }

    p
    {
        margin-bottom:0;
    }

    #footer-logo
    {
        float: left;
        padding: 10px 20px 10px 0;

        img
        {
            display: block;
            height: 27px!important;
            width: auto!important;
        }
    }

    #block-menu-menu-footer-menu .content ul
    {
        @extend .font-condensed;

        text-align: center;
        margin: 0 0 5px 0;
        padding: 0;

        li
        {
            display: inline-block;
            margin: 0;
            padding: 0;

            a
            {
                font-weight: bold;
                text-transform: uppercase;
                display: block;
                padding: 2px 6px;
            }
        }
    }

    #block-block-1
    {
        @extend .font-condensed;
        font-weight: 300;
        font-size: 1.1em;
    }

    #footer-search
    {
        position: absolute;
        top: 0;
        right: 0;
    }

    #site-by-cci
    {
        font-size:0.75em;
        margin-top: 15px;
        margin-left: 80px;
    }
}

#welcome
{
    color:white;
    padding:15px 0 0 0;
    overflow: hidden;
    border-top:2px solid white;
    border-bottom:2px solid white;
    position: relative;
    z-index: 1;

    background:$gold;
    background: -moz-linear-gradient(top, #998842 79%, #7f703e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(79%,#998842), color-stop(100%,#7f703e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #998842 79%,#7f703e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #998842 79%,#7f703e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #998842 79%,#7f703e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #998842 79%,#7f703e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#998842', endColorstr='#7f703e',GradientType=0 ); /* IE6-9 */

    a
    {
        color:$navy;
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }

    p
    {
        margin-bottom:15px;
    }

    .block h2
    {
        @extend .font-condensed;
        line-height:100px;
        float: left;
        font-size:3.5em;
        text-shadow:-2px 2px 2px rgba(0,0,0, 0.3);
        text-transform: uppercase;
        padding:0 80px 0 20px;
    }

    .block .content
    {
        font-size:0.9em;
    }

    .left
    {
        float: left;
        width: 32%;
        padding-right: 15px;
    }
    .right
    {
        float: left;
        width: 32%;
    }
}

#main-wrapper
{
    color:white;
    overflow: hidden;

    background:$navy;
    background: -moz-linear-gradient(top, #072c68 0%, #041c42 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#072c68), color-stop(100%,#041c42)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #072c68 0%,#041c42 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #072c68 0%,#041c42 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #072c68 0%,#041c42 100%); /* IE10+ */
    background: linear-gradient(to bottom, #072c68 0%,#041c42 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#072c68', endColorstr='#041c42',GradientType=0 ); /* IE6-9 */

    &:after
    {
        content:"";
        display: block;
        position: absolute;
        width: 326px;
        height: 350px;
        background:url(../img/bg-irish-fighter.png) no-repeat left bottom;
        margin-top: -350px;
        z-index: 0;
    }

    & > div
    {
        position: relative;
        z-index: 1;
    }

    h1#page-title
    {
        @extend .font-condensed;
        text-transform: uppercase;
        font-size: 45px;
        text-shadow:-2px 2px 2px rgba(0,0,0, 0.3);
        line-height:normal;
    }
}

body.page-properties,
body.page-special-event-rentals
{
    #content
    {
        @extend .font-condensed;

        width:250px;
        float: left;
        height: 470px;
        font-size: 0.9em;
        line-height: 120%;
    }

    #main-wrapper
    {
        &>div>div
        {
            position: relative;
        }

        h1#page-title
        {
            padding-top:30px;
            line-height: 100%;
        }
    }
}

body.page-about
{
    #main-wrapper > div
    {
        max-width:none;
        
        & > div
        {
            padding: 0;
        }
    }
    
    #page-title, #block-system-main
    {
        display: none;
    }
}
#block-block-4
{
    background:url(../img/bg-history.jpg) no-repeat center center;
    background-size:cover;
    padding: 42px 0;
    
    & > div
    {
        width: 100%;
        max-width: 740px;
        margin: 0 auto;
        background:rgba(7,44,104, 0.6);
        
        & > div
        {
            padding: 10px 25px 20px 25px;
            overflow: hidden;
            text-align: center;
            text-shadow:-2px 2px 2px rgba(0,0,0,0.5);
        }
    }
    
    h2
    {
        @extend .font-condensed;
        font-size:3.5em;
        text-transform: uppercase;
    }
    
    .content
    {
        font-size:1.1em;
    }
}
#block-block-5
{
    background:url(../img/bg-culture.jpg) no-repeat center center;
    background-size:cover;
    text-shadow:-2px 2px 2px rgba(0,0,0,0.6);
    border-bottom: 2px solid $gold;
    
    & > div
    {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        
        & > div
        {
            max-width: 520px;
            padding: 20px;
            background:rgba(7,44,104, 0.5);
        }
    }
    
    h2
    {
        @extend .font-condensed;
        font-size:3.5em;
        text-transform: uppercase;
    }
    
    .content
    {
        font-size:1.1em;
    }
}

#prefooter
{
    position: relative;
}
#block-views-eat-play-block
{
    height: 300px;
    width: 100%;
    text-shadow:-2px 2px 2px rgba(4,28,66, 0.25);
    
    & > div
    {
        width: 100%;
        height: 100%;
        max-width:960px;
        margin: 0 auto;
        position: relative;
        
        & > div
        {
            position: absolute;
            top: 15px;
            bottom: 15px;
            left: 0;
            width: 302px;
            color:white;
            background:rgba(7,44,104, 0.5);
            padding: 10px 0;
            z-index: 100;
        }
    }
    
    h2
    {
        @extend .font-condensed;
        text-transform: uppercase;
        font-size:45px;
        line-height: 38px;
        width: 90%;
        padding: 0 10px;
    }
}
#gmap
{
    height: 300px;    
    width: 100%;
    position: absolute;
    top: 0;
    
    a
    {
        color:$navy;
        text-decoration: underline;
    }
}

body.node-type-property,
body.node-type-special-rental
{
    #main-wrapper
    {
        position: relative;
        min-height:472px;
        
        &:after
        {
            margin-top: 0;
            margin-left: -25px;
            left: 60%;
            top:125px;
        }
        
        & > div > div
        {
            padding: 0;
        }
    }
}

body.node-type-event,
body.page-events,
body.node-type-news,
body.page-news,
body.node-type-property,
body.node-type-special-rental
{
    #page-title
    {
        display: none;
    }
}
#block-block-6,
#block-block-7
{
    padding-bottom: 30px;
    padding-right: 25px;
    float: left;
    border-right: 1px solid $gold;
    width: 250px;
    
    h2
    {
        @extend .font-condensed;
        text-transform: uppercase;
        font-size: 45px;
        text-shadow:-2px 2px 2px rgba(0,0,0, 0.3);
        line-height:normal;
    }
    
    .content
    {
        @extend .font-condensed;
        font-size:0.9em;
        
        h3
        {
            color:$gold;
        }
    }
}

body.page-contact
{
    #content
    {
        @extend .font-condensed;
        margin-left: 50%;
        padding-left: 30px;
        padding-top: 10px;
        height: 370px;
        
        a.facebook
        {
            display: block;
            font-size: 0;
            color:transparent;
            width: 24px;
            height: 24px;
            background:url(../img/fb.png) no-repeat top;
            
            &:hover
            {
                background-position:bottom;
            }
        }
    }
    
    #page-title
    {
        background:url(../img/bg-eat-play-row.png) no-repeat center 52px;
        background-size:100% 1px;
    }
    
    #main-wrapper
    {
        position: relative;
        
        &:after
        {
            margin-top: 0;
            margin-left:0;
            left: 50%;
            bottom:0;
        }
        
        #block-system-main
        {
            font-size: 1.2em;
            
            strong
            {
                color:$gold;
            }
            
            a
            {
                color:white;
            }
        }
    }
}
#gmap-contact
{
    height: 380px;
    position: absolute;
    left: 0;
    width: 50%;
    top: 0;
}
