#navigation,
#footer
{

}

#navigation
{
    background-color:$navy;
    height: 50px;

    #logo
    {
        display: block;
        float: left;
        padding:10px 32px 13px 10px;
        border-right: 1px dotted $gold;

        img
        {
            display: block;
            height: 27px;
            width: auto;
        }
    }

    #block-system-main-menu .content
    {
        @extend .font-condensed;
        text-transform: uppercase;

        & > ul
        {
            list-style: none;
            margin:0;
            padding: 0;

            & > li
            {
                list-style: none;
                margin: 0;
                padding: 0;
                float: left;

                & > a
                {
                    color:white;
                    text-decoration: none;
                    display: block;
                    padding: 17px 13px;
                    border-right:1px dotted $gold;
                    line-height: 100%;
                    font-size:16px;

                    &:hover
                    {
                        text-decoration: none;
                        background:$blue;
                        border-top:2px solid $gold;
                        padding-top: 15px;
                        box-shadow:0 0 6px rgba(0,0,0,0.2) inset;
                    }
                }
            }
        }
    }
}
