.view-header-slideshow
{
    height: 430px;
    position: relative;

    .view-content
    {
        width: 100%;
        height: 100%;
    }

    .views-row
    {
        display: none;
        color:white;
        text-shadow:-2px 2px 2px rgba(0,0,0, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        left: 0;

        .views-field-nothing
        {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 10;
            background:$navy;
            background:rgba(4,28,66, 0.8);
            padding: 6px 15px;
            width: 450px;
            z-index: 2;
        }

        .views-field-title h2
        {
            @extend .font-condensed;

            text-transform: uppercase;
            font-size: 2.5em;
        }
        .views-field-body
        {
            display: none;
        }
        
        a.field_link
        {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
            z-index: 3;
        }

        .views-field-field-header-image
        {
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            height: 100%;
            margin-left: -610px;

            img
            {
                display: block;
                height: 100%!important;
                width: auto!important;
            }
        }
    }

    a.btn-next,
    a.btn-previous
    {
        display: block;
        width: 22px;
        height: 46px;
        position: absolute;
        top:50%;
        margin-top:-23px;
        background-repeat:no-repeat;
        background-position:top left;
        font-size: 0;
        color:transparent;
        z-index: 4;
        
        &:hover
        {
            background-position: 0 -46px;
        }
    }
    a.btn-previous
    {
        left:-22px;
        background-image:url(../img/arrow-large-left.png);
    }
    a.btn-next
    {
        right:-22px;
        background-image:url(../img/arrow-large-right.png);
    }
}

.view-properties,
.view-special-rentals
{
    position: absolute;
    top:0;
    right: 0;
    width: 663px;
    height: 100%;
    overflow: hidden;

    .view-content
    {
        height: 100%;
        width: 10000px;
        position:relative;
        left: 0;
    }

    .views-row
    {
        float: left;
        width: 220px;
        height: 100%;
        border-left:1px solid $gold;
        position: relative;

        &.views-row-odd
        {
            background:$blue;
        }

        &:hover
        {
            .views-field-field-short-title h2 a
            {
                background:url(../img/icon-white-small-irish-fighter.png) no-repeat 110px 8px;
                color:$gold;
            }
        }

        .views-field-field-short-title h2
        {
            font-size:2.7em;
            text-shadow:-2px 2px 2px rgba(0,0,0, 0.3);
            text-transform: uppercase;
            line-height: 100%;
            height: 90px;

            a
            {
                color:white;
                display: block;
                padding: 22px 20px 0 20px;

                &:hover
                {
                    text-decoration: none;
                }

                div
                {
                    width: 1px;
                }
            }
        }

        .views-field-field-short-description
        {
            a
            {
                color:white;
                height: 75px;
                display: block;
                padding:0 20px;

                &:hover
                {
                    text-decoration: none;
                }
            }
        }

        .views-field-field-property-image
        {
            position: absolute;
            left: 0;
            bottom: 0;

            img
            {
                display: block;
            }
        }
    }
}
.btn-properties
{
    display: block;
    position: absolute;
    top:50%;
    margin-top:-23px;
    height: 46px;
    width: 22px;
    background-repeat:no-repeat;
    background-position:left top;
    font-size:0;
    color:transparent;

    &:hover
    {
        background-position:left bottom;
    }

    &.btn-previous
    {
        background-image:url(../img/arrow-large-left.png);
        left:310px;
    }
    &.btn-next
    {
        background-image:url(../img/arrow-large-right.png);
        right:-27px;
    }
}

.view-property,
.view-special-rental
{
    padding-left: 60%;
    
    .view-content
    {
        @extend .font-condensed;
        padding-left: 30px;
    }
    
    .views-field-title h1
    {
        text-transform: uppercase;
        font-size: 45px;
        text-shadow:-2px 2px 2px rgba(0,0,0, 0.3);
        line-height:100%;
        padding-top: 25px;
        background:url(../img/bg-eat-play-row.png) no-repeat bottom center;
        background-size:contain;
    }
    .views-field-field-description,
    .views-field-field-amenities
    {
        padding-top: 10px;
        position: absolute;
        
        &.active
        {
            position: static;
        }
        
        .views-label
        {
            color:$gold;
            font-size:1.25em;
        }
        
        .field-content
        {
            font-size:0.9em;
            
            ul
            {
                list-style-image:url(../img/gold-bullet.png);
                font-size: 1.2em;
            }
        }
    }
    .btn-switch-description,
    .btn-visit
    {
        font-size:1.3em;
        color:white;
        margin: 15px 0;
        display: block;
    }

    .views-field-field-images-1
    {
        width: 720px;
        height: 380px;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        border-left: 1px solid $gold;
        border-right: 1px solid $gold;

        .field-content ul
        {
            list-style: none;
            margin: 0;
            padding: 0;

            li
            {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                width: 100%;

                &.first
                {
                    display: block;
                }

                img
                {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
        
        #property-indicators
        {
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 10px;
            right: 18px;
            z-index: 20;
            
            li
            {
                display: block;
                float: left;
                margin: 0;
                padding: 3px;
                cursor: pointer;
                
                a
                {
                    display: block;
                    font-size: 0;
                    color: transparent;
                    background:white;
                    width: 12px;
                    height: 12px;
                    border-radius:6px;
                    box-shadow:1px 1px 3px rgba(0,0,0, 0.4);
                    transition:background 0.4s;
                }
                
                &:hover a,
                &.active a
                {
                    background:$gold;
                }
            }
        }
    }
    .views-field-field-images
    {
        width: 720px;
        position: absolute;
        left: 0;
        top: 380px;
        border: 1px solid $gold;
        background:url(../img/bg-property-gallery-noimage.png) repeat-x left top;
        background-size:contain;

        & > div
        {
            overflow: hidden;
            
            & > div
            {
                width: 100000px;
                position: relative;
            }
        }

        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;

            li
            {
                list-style: none;
                margin: 0;
                padding: 0;
                float: left;
                background:white;
                position: relative;
                
                &:after
                {
                    content:"";
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background: $gold;
                }

                img
                {
                    display: block;
                    width: 100%!important;
                    height: auto!important;
                    opacity: 0.5;
                    transition: opacity 0.4s;
                }
                
                &.active img
                {
                    opacity:1;
                }
            }
        }
        
        a.btn-property
        {
            display: block;
            position: absolute;
            top:50%;
            margin-top: -9px;
            width: 12px;
            height: 18px;
            background-repeat:no-repeat;
            background-position:top center;
            font-size: 0;
            color:transparent;
            z-index: 999;
            
            &:hover
            {
                background-position:center -18px;
            }
            
            &.btn-previous
            {
                background-image:url(../img/arrow-small-left.png);
                left:3px;
            }
            &.btn-next
            {
                background-image:url(../img/arrow-small-right.png);
                right: 5px;
            }
        }
    }
}

#block-views-team-members-block
{
    border-bottom:2px solid $gold;
    background:$navy;
    background: -moz-linear-gradient(top, #072c68 0%, #041c42 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#072c68), color-stop(100%,#041c42)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #072c68 0%,#041c42 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #072c68 0%,#041c42 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #072c68 0%,#041c42 100%); /* IE10+ */
    background: linear-gradient(to bottom, #072c68 0%,#041c42 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#072c68', endColorstr='#041c42',GradientType=0 ); /* IE6-9 */
    
    & > div
    {
        width: 100%;
        max-width: 958px;
        margin: 0 auto;
        position: relative;
    }
}
.view-team-members
{
    overflow: hidden;
    
    .view-content
    {
        position: relative;
        overflow: hidden;
        width: 10000px;
    }
    
    .views-row
    {
        float: left;
        position: relative;
        
        .views-field-field-image
        {
            img
            {
                display: block;
                border-right: 2px solid $gold;
            }
        }
        
        .views-field-nothing
        {
            opacity:0;
            transition:opacity 0.6s;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-shadow:-2px 2px 2px rgba(0,0,0,0.5);
            background:rgba(4,28,66, 0.8);
            
            .views-field-title
            {
                @extend .font-condensed;
                text-transform: uppercase;
                font-size:2.5em;
                padding:8px 20px 0 20px;
            }
            .views-field-field-description
            {
                padding: 0 20px 8px 20px;
                font-size:0.9em;
            }
        }
        &:hover .views-field-nothing
        {
            opacity:1;
        }
    }
}
.btn-team-members
{
    display: block;
    position: absolute;
    top:50%;
    margin-top:-23px;
    height: 46px;
    width: 22px;
    background-repeat:no-repeat;
    background-position:left top;
    font-size:0;
    color:transparent;
    z-index: 2;

    &:hover
    {
        background-position:left bottom;
    }

    &.btn-previous
    {
        background-image:url(../img/arrow-large-left.png);
        left:-16px;
    }
    &.btn-next
    {
        background-image:url(../img/arrow-large-right.png);
        right:-16px;
    }
}

.view-eat-play
{
    .view-content
    {
        overflow-y: scroll;
        padding: 0 10px;
        height: 170px;
        margin-top: 3px;
        background:url(../img/bg-eat-play-row.png) no-repeat center top;
    }
    
    .views-row
    {
        background:url(../img/bg-eat-play-row.png) no-repeat center bottom;
        cursor: pointer;
        
        &:hover
        {
            color: $navy;
        }
    }
    
    .views-field-field-address,
    .views-field-field-phone,
    .views-field-field-website,
    .views-field-field-business-type
    {
        display: none;
    }
    
    .views-field-title
    {
        @extend .font-condensed;
        font-size: 1.35em;
        
        .field-content div
        {
            background-repeat:no-repeat;
            background-position:8px center;
            padding: 4px 0 4px 36px;
            
            &.Eat
            {
                background-image:url(../img/icon-eat-white.png);
                
                &:hover
                {
                    background-image:url(../img/icon-eat-navy.png);
                }
            }
            &.Play
            {
                background-image:url(../img/icon-play-white.png);
                
                &:hover
                {
                    background-image:url(../img/icon-play-navy.png);
                }
            }
            &.Movies
            {
                background-image:url(../img/icon-movies-white.png);
                
                &:hover
                {
                    background-image:url(../img/icon-movies-navy.png);
                }
            }
        }
    }
    
}
